@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap');

.NavBar{
    position: absolute;
    z-index: 1;
    display: inline;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3vh; 
}


Link{
    cursor: pointer;
    opacity: 30%;
    font-family: "Rubik";
    font-weight: 400;
    font-size: 2em;
    margin-left: 1vw;
    position: relative;
    top: 50%;
    text-decoration: none;
    color: black;
}

.title:visited{
    color: black;
}

.logoImg{
    margin-left: 3vw;
    height: 45px;
    width: 45px;
    position: relative;
    top: 50%;
}

.title{
    font-family: "Rubik";
    font-weight: 400;
    font-size: 2em;
    margin-left: 1vw;
    position: relative;
    top: 50%;
    text-decoration: none;


}


#signIn{
    float: right;
}


#login{

}

#logout{
    display: none;
}
