@import url('https://fonts.googleapis.com/css2?family=Karla&family=Rubik&display=swap');


.fullPanel{
    background-color: #99C9C2;
    height: 100vh;
    border: none;
    font-family: "Karla";
    font-weight: 400;
    font-size: 1.5em;
    text-align: right;
    margin: 0px !important;
    padding: 3vw;
    position: absolute;
    z-index: 1;
    right: 0;
    padding-top: 32vh;



}

.link{
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: block;


}